<table cellspacing="0" cellpadding="0" border="0" width="100%">
	<tr>
		<td bgcolor="#ffffff" valign="top">

      <table width="600" cellpadding="0" cellspacing="0" align="center" style="font-family:Helvetica,Arial,sans-serif;background-color:#ffffff;line-height:1.5em;">
        <tr>
          <td valign="top" style="background-color:#5B3957;">
            <br />
            <p><img src="http://{{ request.get_host }}{{ config.static_url }}css/images/ioby-memphis-logo-white.png" alt="ioby Memphis logo" align="middle" border="0" /></p>
            </td>
            </tr>
            <td>
            <br />
            <p>Thank you for sharing your idea to #CreateMemphis... you're awesome!</p>

            <p>Here's a direct link to it: <a href="http://{{ request.get_host }}/place/{{ place.id }}">http://{{ request.get_host }}/place/{{ place.id }}</a></p>

            <p>If you are committed to being a part of making your idea into reality, your next step should be to share your idea with your friends, family, colleagues, neighbors - anyone you think might be interested in supporting or sharing your idea. </p>

            <p>The more people who see and share your idea, the more support you can build to make it turn into reality.</p>

            <p>Use the link above to tell everyone about your idea through email or social media.  If you're using social media, like Facebook or Twitter or Instagram, use the hashtage #CreateMemphis. Encourage others to start a conversation by leaving a comment or clicking the Commit to Help button.</p>

            <p>Thanks again!</p>

            <p> --	Your friends at ioby &amp; Livable Memphis</p>
            <br/>
           <p> P.S. -- If you told us you're committed to making your idea happen, we'll reach out to see what we can do to help you get funding, resources, volunteers and anything else you might need to bring your idea to life.</p> 
            
          </td>
        </tr>
        <tr>
          <td valign="top">
            <br />
            <br />
            <hr />
            <br />
            <br />
          </td>
        </tr>
      </table>

      <br />
      <br />

    </td>
  </tr>
</table>
